@model demo.Domain.UserData

<div>
    @Html.LabelFor(x => x.Name)
    @Html.TextBoxFor(x => x.Name)
</div>
    
<div>
    @Html.LabelFor(x => x.Surname)
    @Html.TextBoxFor(x => x.Surname)
</div>
    
<div>
    @Html.LabelFor(x => x.Description)
    @Html.TextAreaFor(x => x.Description)
</div>